.git
.dvc
.github
.ipynb_checkpoints
notebooks
gx
data/*.csv
data/*.dvc
data/artifacts/*.parquet
data/artifacts/eda/
data/artifacts/logs/
data/artifacts/features/*.parquet
data/artifacts/features/*.csv
data/artifacts/model/*.csv
mlartifacts/
mlflow.db
__pycache__/
*.pyc
