# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment
.env
.venv/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Generated artifacts
data/artifacts/*
!data/artifacts/*.dvc

!data/artifacts/features/
data/artifacts/features/*
!data/artifacts/features/*.dvc

!data/artifacts/model/
data/artifacts/model/*
!data/artifacts/model/*.dvc
mlflow.db
mlartifacts/
